{% extends "layout.html" %}

{% block title %} Contacto {% endblock %}

{% block content %}
    <div class="card">
        <h1>¡Envíame un mensaje!</h1>
        <form action="/enviar" method="POST">
            <div class="form-group">
                <label for="usuario">Tu nombre:</label>
                <input id="usuario" class="input" type="text" name="usuario" placeholder="Ej. Sebas">
            </div>

            <div class="form-group">
                <label for="mensaje">Mensaje:</label>
                <textarea id="mensaje" class="input" name="mensaje" placeholder="Escribe algo..."></textarea>
            </div>

            <button class="btn btn-primary" type="submit">Enviar Mensaje</button>
        </form>
    </div>
{% endblock %}