{% extends "layout.html" %}

{% block title %} Inicio {% endblock %}

{% block content %}
    <div class="card">
        <h1>¡Hola desde Flask!</h1>
        <p>Hola mi nombre es <strong>{{ user }}</strong></p>
        <p class="muted">Aprendiendo {{ lang }}</p>

        <ul class="list">
            {% for i in hob %}
            <li>
                {{ i }}
                {% if i == "Programar" %}
                    <strong> - (¡Mi favorito! 💻) </strong>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
